.breadcrumbs {
    background: #f3f2ee;
    padding: 35px 0;
}

.breadcrumbs__flex {
    display: flex;
}

.breadcrumbs__container {
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .breadcrumbs__text-container {
        align-items: center;

        h4 {
            color: $heading-color;
            font-weight: 700;
            margin-bottom: 8px;
        }

        .breadcrumbs__text {
            width: 100%;
            align-items: center;
            justify-content: flex-start;

            .breadcrumbs__text-home {
                font-size: 15px;
                color: $heading-color;
                text-decoration: none;
                align-items: center;
            }

            .breadcrumbs__text-shop {
                font-size: 15px;
                color: #727272;
                align-items: center;
            }

            .breadcrumbs__separator {
                align-items: center;
                margin-right: 5px;
                margin-left: 5px;

                .angle-right-icon {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}
