
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-family-roboto: 'Roboto', Arial, sans-serif;
$font-family-cairo: 'Cairo', sans-serif;

// Colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4cd0b2;
$cyan: #6cb2eb;

// Shop
$heading-color: #111111;
$gutter: 30px;